{% load static %}
<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>eCommerce HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

<!-- CSS here -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

  <header>
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
               <div class="container-fluid">
                   <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-right">
                               <ul>                                          
                                   <li><a href="{% url 'profile' %}">My Account </a></li>
                                   <li><a href="{% url 'product_list' %}">Shopping</a></li>
                                   <li><a href="{% url 'view_cart' %}">Cart</a></li>
                                   <li><a href="{% url 'checkout' %}">Checkout</a></li>
                               </ul>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                              <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>                                                
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a href="{% url 'product_list' %}">Home</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'view_cart' %}">Shopping Cart</a></li>
                                            </ul>
                                        </li> 
                                    </ul>
                                </nav>
                            </div>
                        </div> 
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <input type="text" name="Search" placeholder="Search products">
                                        <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                 </li>
                                <li class=" d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
  </header>

    <!-- slider Area Start-->
    <div class="slider-area ">
      <!-- Mobile Menu -->
      <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Confirmation</h2>
                      </div>
  <!-- slider Area End-->

  <!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you for shopping with us. Your order has been received.</span>
          </div>
        </div>
        {% for cart in cart_items %}
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4 style="font-weight: bolder;">order info</h4>
            <ul>
              <li>
                <p>product name</p><span>: {{cart.product}}</span>
              </li>
              <li>
                <p>order number</p><span>: {{random_no}}</span>
              </li>
              <li>
                <p>date Added</p><span>: {{cart.date_added}}</span>
              </li>
              <li>
                <p>total</p><span>:Ksh {{cart.item_total}}</span>
              </li>
              <li>
                <p>payment method</p><span>: Check payments</span>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for cart in cart_items %}
                <tr>
                  <th colspan="2"><span>{{cart.product}}</span></th>
                  <th>x {{cat.quantity}}</th>
                  <th> <span>Ksh {{cart.item_total}}</span></th>
                </tr>
                {% endfor %}
                <tr>
                  <th colspan="3">Subtotal</th>
                  <th> <span>Ksh {{total_price}}</span></th>
                </tr>
                <tr>
                  <th colspan="3">shipping</th>
                  <th><span>flat rate: $50.00</span></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ confirmation part end =================-->

  <footer>
    <!-- Footer Start-->
                 <div class="footer-copy-right">
                     <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                    </div>
             </div>
         </div>
        </div>
    </div>

    <!-- Footer End-->
  </footer>

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
		<script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
    <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    
    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
        
</body>

</html>